{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    "import/no-anonymous-default-export": [
      "error",
      {
        "allowArray": false,
        "allowArrowFunction": false,
        "allowAnonymousClass": true,
        "allowAnonymousFunction": true,
        "allowCallExpression": true,
        "allowLiteral": false,
        "allowObject": false
      }
    ]
  }
}
