@import 'semantic-ui-css/semantic.min.css';

body {
  background-color: black;
  background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
  color: white;
  font: 1.3rem Inconsolata, monospace;
  height: 100vh;
  margin: 0;
  text-shadow: 0 0 1px #C8C8C8;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
